<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreshWorks Basic Functionality Suite" >

  
  <test thread-count="5" name="Basic Functionality Test Used.ca for Android">
      
      
  <classes>
      <class name = "freshWorks.Basic_Func_Test" />
  </classes>
  
  
  </test> <!-- Test -->
  
  

  

</suite> <!-- Suite -->
